* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}



body {
    background-color: gray;
}

header {
    background-color: turquoise;
    text-align:center;
}

main {
    width: 580px;
    background-color: lightblue;
    float: left;
    margin-left: 175px;
    padding: 20px;

}

aside {
    width: 360px;
    float: right;
    background-color: pink;
    margin-right: 175px;
    padding: 20px;

}

footer {
    background-color: black;
    clear: both;
    text-align:center;
}

footer img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}